.navbar-burger {
  height: inherit !important;
}

.has-margin-auto {
  display: block;
  margin: auto;
}

.is-centered {
  justify-content: center;
  align-items: center;
}

.has-border-info-light {
  border: 1px solid hsl(206, 70%, 96%);
}
